<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Pokemon</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="/socket.io/socket.io.js"></script>
		<link rel="stylesheet" href="/css/styles.css">
		<link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="./node_modules/nes.css/css/nes.min.css">
		<link rel="icon" type="image/png" href=" /img/icon-coliseum.png">
	</head>
	<body>
		{{> header this}}
		
		{{{body}}}
	</body>
</html>