<div class="hub-container">
    <div class="header">
        <div class="header-left"> 
        </div>
        <div class="header-mid">
            <a href="/admin">POKEMON</a>
        </div>
    </div>
    <div class="hub-options-container">
        <button class="nes-btn is-warning" onclick="location.href='/ranking'">RANKING</button>
        <button class="nes-btn is-warning" onclick="location.href='/manageUsers'">USUARIOS</button>
    </div>
    <div class="hub-main-container">
        <div class="hub-main-container-left">
            <div class="hub-main-container-left-mini">
                <div class="hub-main-container-pokemon">
                </div>
            </div>
        </div>
        <div class="hub-main-container-mid">
            <div class="hub-main-container-mid-mini">
                <div id="hub-title" class="hub-title">
                    <p>{{{user}}}</p>
                </div>
                <div class="hub-avatar" id="avatar-container">
                    <div class="hub-avatar-mid">
                        <img id="avatar" src="/img/{{{sprite}}}" alt={{{spritenumber}}}>
                    </div>
                </div>
            </div>
        </div>
        <div class="hub-main-container-right">
            <div class="hub-main-container-right-mini">
                <div class="hub-main-container-right-mini-title">
                    <p>TOP 5</p>
                </div>
                <div class="hub-main-container-right-mini-info">
                    <div class="hub-top-5-info">
                        <p>Nacholito</p> <p>1000</p>
                    </div>
                    <div class="hub-top-5-info">
                        <p>Chiappe</p> <p>900</p>
                    </div>
                    <div class="hub-top-5-info">
                        <p>Moya</p> <p>600</p>
                    </div>
                    <div class="hub-top-5-info">
                        <p>Conver</p> <p>400</p>
                    </div>
                    <div class="hub-top-5-info">
                        <p>Cava</p> <p>130</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/hub.js"></script>