<div class="game-container-total">
    <div class="game-container-left">
        <div class="game-small-container-up">
            <div class="game-left-container">
                <img>
                <p>hola</p>
                <div>

                </div>
            </div>
            <div class="game-mid-container">
            </div>
            <div class="game-right-container">
                <img>
                <p>hola</p>
                <div>
                    
                </div>
            </div>
        </div>
        <div class="game-small-container-down">
            <div>
                <button>Rayo</button>
                <button>Proteccion</button>
            </div>
            <div>
                <button>Maquinacion</button>
                <button>Tóxico</button>
            </div>
        </div>
    </div>

    <div class="game-container-right">
        <div class="game-chat-container-up">
        </div>
        <div class="game-chat-container-down">
            <input type="text" class="nes-input is-dark" placeholder="dark.css">
        </div>
    </div>
</div>