<div class="header">
    <div class="header-left"> 
        <img src="/img/POKEBALL.png"> 
    </div>
    <div class="header-mid">
        <p>POKEMON SHOWDOWN</p>
    </div>
    <div class="header-right"></div>
</div>