
<div class="hub-container">
    <div class="header">
        <div class="header-left"> 
            {{!-- <img src="/img/POKEBALL.png">  --}}
        </div>
        <div class="header-mid">
            <a href="/hub">POKEMON SHOWDOWN</a>
        </div>
        <div class="header-right"></div>
    </div>
    <div class="hub-options-container">
        <button class="nes-btn is-warning" onclick="location.href='/ranking'">RANKING</button>
        <button class="nes-btn is-warning">EQUIPO</button>
        <button class="nes-btn is-warning">JUGAR</button>
        <button class="nes-btn is-warning">CHAT</button>
        <button class="nes-btn is-warning">PERFIL</button>
    </div>
    <div class="hub-main-container">
        <div class="hub-main-container-left">
            <div class="hub-main-container-left-mini">
                <p>EQUIPO</p>
                <div class="hub-main-container-pokemon">
                    <div>
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/200.png" height="75px" width="75px">
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/182.png" height="75px" width="75px">
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" height="75px" width="75px">
                    </div>
                    <div>
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/700.png" height="75px" width="75px">
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/672.png" height="75px" width="75px">
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/507.png" height="75px" width="75px">
                    </div>
                </div>
            </div>
        </div>
        <div class="hub-main-container-mid">
            <div class="hub-main-container-mid-mini">
                <p>Nacholito</p>
                <img src="/img/pj.png" height="320px">
            </div>
        </div>
        <div class="hub-main-container-right">
            <div class="hub-main-container-right-mini">
                <p>TOP 5</p>
                <div>
                    <div class="hub-top-5-info">
                        <p>Nacholito</p> <p>1000</p>
                    </div>
                    <div class="hub-top-5-info">
                        <p>Chiappe</p> <p>900</p>
                    </div>
                    <div class="hub-top-5-info">
                        <p>Moya</p> <p>600</p>
                    </div>
                    <div class="hub-top-5-info">
                        <p>Conver</p> <p>400</p>
                    </div>
                    <div class="hub-top-5-info">
                        <p>Cava</p> <p>130</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/home.js"></script>