<div class="login-container">
    <div class="login-container-left">
        <div class="login-container-left-mini">
            <div class="login-container-total-up">
                <h1>INGRESAR</h1>
            </div>
            <div class="login-container-total-mid">
                <div>
                    <input type="text" value="Nacholito"id="login-user" class="nes-input" placeholder="Usuario">
                    <input type="password" value="123"id="login-pass" class="nes-input" placeholder="Contraseña">
                </div>
                <a href="/register">¿No tenés cuenta?</a>
            </div>
            <div class="login-container-total-down">
                <button type="button" class="nes-btn is-primary" onclick="login()">INGRESA</button>
            </div>
        </div>
    </div>
    <div class="login2-container-right"></div>
</div>

<script src="/js/login.js"></script>