<div class="profile-container">
    <div class="header">
        <div class="header-left"> 
        </div>
        <div class="header-mid">
            <a href="/hub">POKEMON SHOWDOWN</a>
        </div>
        <div class="header-right">
            <img src="/img/muted.png">
        </div>
    </div>
    <div class="profile-container-mini">
        <div id="profile-container" class="nes-container is-rounded">
            <div class="profile-title">
                <div class="profile-title-mini"><p>FICHA ENTRENADOR</p> <img src="/img/x.png"><img src="/img/tick.png"></div> <p>Nº 00012</p>
            </div>
            <div class="profile-info">
                <div class="profile-arrow-left">
                    <img id="profile-left-arrow" src="/img/flecha-izq.png" onclick="">
                </div>
                <div class="profile-inputs">
                    <div class="profile-inputs-mini">
                        <p>NOMBRE</p>
                        <input type="text" class="nes-input" value="Ignacio">
                    </div>
                    <div class="profile-inputs-mini">
                        <p>APELLIDO</p>
                        <input type="text" class="nes-input" value="Serdá">
                    </div>
                    <div class="profile-inputs-mini">
                        <p>USUARIO</p>
                        <input type="text" class="nes-input" value="Nacholito">
                    </div>
                    <div class="profile-inputs-mini">
                        <p>MAIL</p>
                        <input type="text" class="nes-input" value="ignserda@gmail.com">
                    </div>
                </div>
                <div class="profile-avatar">
                    <div class="profile-avatar-container">
                        <img id="avatar" src="/img/sprite6.png" alt="4">
                    </div>
                </div>
                <div class="profile-arrow-right">
                    <img id="profile-right-arrow" src="/img/flecha-der.png" onclick="">
                </div>
            </div>
        </div>
    </div>
</div>