<div class="profile-container">
    <div class="header">
        <div class="header-left"> 
        </div>
        <div class="header-mid">
            <a href="/hub">POKEMON SHOWDOWN</a>
        </div>
        <div class="header-right">
            <img src="/img/muted.png">
        </div>
    </div>
    <div class="profile-container-mini">
        <div class="profile-container-mini-mini">
            <div class="profile-title">
                <p>PERFIL</p>
            </div>
            <div class="profile-inputs">
                <input>
                <input>
                <input>
                <input>
            </div>
        </div>
    </div>
</div>