<div style="height: 100vh; width:100vw; display: flex; background-color:white; justify-content:center; align-items: center;">
    <img src="/img/under-construction.gif" height="400px">
</div>


<script src="/js/queueTeams.js"></script>