<audio id="music">
    <source src="/img/game-match.mp3" type="audio/mp3">
</audio>
<audio id="musicBattle" loop="loop">
    <source src="/img/battle.mp3" type="audio/mp3">
</audio>
<audio id="musicWin">
    <source src="/img/win-soundtrack.mp3" type="audio/mp3">
</audio>
<audio id="musicLost">
    <source src="/img/lost-soundtrack.mp3" type="audio/mp3">
</audio>
<div id="test" class="test">
    <div id="test-bar" class="test-bar">
        <p id="waiting-text">Generando pokemon...</p>
        <div class="test-bar-big">
            <div id="test-bar-mini" class="test-bar-mini"></div>
        </div>
    </div>
    <div class="test-text">
        <p id="waiting-trainer">Esperando entrenador</p>
    </div>
</div>

<div id="game-container" class="game-container-total">
    <div class="game-container-left">
        <div class="game-small-container-up">
            <div class="game-left-container">
                <div class="game-info-trainer">
                    <div class="game-info-trainer-name-img">
                        <p id="nick-p1">Nacholito</p>
                        <img id="pokemon-p1-avatar" src="/img/sprite1.png">
                    </div>
                    <div class="game-info-trainer-pokemon">
                        <div class="game-info-trainer-pokemon-up">
                            <img src="/img/POKEBALL.png" height="25px" id="pokemon-p1-1">
                            <img src="/img/POKEBALL.png" height="25px" id="pokemon-p1-2">
                            <img src="/img/POKEBALL.png" height="25px" id="pokemon-p1-3">
                        </div>
                        <div class="game-info-trainer-pokemon-down">
                            <img src="/img/POKEBALL.png" height="25px" id="pokemon-p1-4">
                            <img src="/img/POKEBALL.png" height="25px" id="pokemon-p1-5">
                            <img src="/img/POKEBALL.png" height="25px" id="pokemon-p1-6">
                        </div>
                    </div>
                </div>
            </div>
            <div class="game-mid-container">
                <div class="game-mid-container-top">
                    <div class="game-mid-container-top-left">
                        <div class="game-mid-container-top-left-turns">
                            <p id="turn">TURNO 1</p>
                        </div>
                    </div>
                    <div class="game-mid-container-top-right">
                        <div class="game-mid-container-top-right-container">
                            <div class="game-mid-container-top-right-container-mini">
                                <div id="pokemonIngame2" class="pokemonIngame2">
                                    
                                </div>
                                <div>
                                    <p id="pokemon-p2-ingame-name">Granbull</p>
                                </div>
                                <div class="game-pokemon-battle-stats">
                                    <div class="progress-bar-full">
                                        <div id="pokemon-p2-ingame-bar-progress" class="progress-bar"></div>
                                        <div id="pokemon-p2-ingame-boost-nerf" style="display: flex;">  
                                            <p id="pokemon-p2-ingame-status" class="game-pokemon-status" style="display:none; margin-top: 5px;"> </p>
                                        </div>
                                    </div>
                                    <p id="pokemon-p2-ingame-bar-p">10%</p>
                                </div>
                            </div>
                            <div id="pokemonIngame2" class="pokemonIngame2">
                                <div class="main-info">
                                    <p style="margin-right: 20px;">GRANBULL</p>
                                    <p class="fairy type-description" style="margin-right: 20px;">HADA</p>
                                </div>
                                <div class="stats">
                                    <p style="font-size: 15px;">HP: 100%</p>
                                    <p style="font-size: 15px;">VEL: 100 a 120</p>
                                </div>
                                <div class="pop-up-moves">
                                    <ul>
                                        <li>Llamarada (10/10)</li>
                                        <li>?</li>
                                        <li>?</li>
                                        <li>?</li>
                                    </ul>
                                </div>
                            </div>
                            <img onmouseleave="pokemonIngameOut(2)" onmouseenter="pokemonIngameIn(2)" id="pokemon-p2-ingame-img" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/210.png" height="250px" width="250px">
                        </div>
                    </div>
                </div>
                <div class="game-mid-container-bottom">
                    <div class="game-mid-container-bottom-left">
                        <div class="game-mid-container-top-right-container">
                            <div class="game-mid-container-top-right-container-mini">
                                <div id="pokemonIngame1" class="pokemonIngame1">

                                </div>
                                <div>
                                    <p id="pokemon-p1-ingame-name">Charizard</p>
                                </div>
                                <div class="game-pokemon-battle-stats">
                                    <div class="progress-bar-full">
                                        <div id="pokemon-p1-ingame-bar-progress" class="progress-bar"></div>
                                        <div id="pokemon-p1-ingame-boost-nerf" style="display: flex;">  
                                            <p id="pokemon-p1-ingame-status" class="game-pokemon-status" style="display: none; margin-top: 5px;">  </p>
                                        </div>
                                    </div>
                                    <p id="pokemon-p1-ingame-bar-p">80%</p>
                                </div>
                            </div>
                            <img onmouseleave="pokemonIngameOut(1)" onmouseenter="pokemonIngameIn(1)" id="pokemon-p1-ingame-img" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/6.png" height="350px" width="350px">
                        </div>
                    </div>
                    <div class="game-mid-container-bottom-right"></div>
                </div>
            </div>
            <div class="game-right-container">
                <div class="game-info-trainer">
                    <div class="game-info-trainer-name-img">
                        <p id="nick-p2">Nacholito</p>
                        <img id="pokemon-p2-avatar" src="/img/sprite2.png">
                    </div>
                    <div class="game-info-trainer-pokemon">
                        <div class="game-info-trainer-pokemon-up">
                            <div id="pokemonP21" class="pokemonP21">
                                <div class="main-info">
                                    <p style="margin-right: 20px;">GRANBULL</p>
                                    <p class="fairy type-description" style="margin-right: 20px;">HADA</p>
                                </div>
                                <div class="stats">
                                    <p style="font-size: 15px;">HP: 100%</p>
                                    <p style="font-size: 15px;">VEL: 100 a 120</p>
                                </div>
                                <div class="pop-up-moves">
                                    <ul>
                                        <li>Llamarada (10/10)</li>
                                        <li>?</li>
                                        <li>?</li>
                                        <li>?</li>
                                    </ul>
                                </div>
                            </div>
                            <img src="/img/POKEBALL.png" id="pokemon-p2-1">
                            <div id="pokemonP22" class="pokemonP22">
                                <div class="main-info">
                                    <p style="margin-right: 20px;">GRANBULL</p>
                                    <p class="fairy type-description" style="margin-right: 20px;">HADA</p>
                                </div>
                                <div class="stats">
                                    <p style="font-size: 15px;">HP: 100%</p>
                                    <p style="font-size: 15px;">VEL: 100 a 120</p>
                                </div>
                                <div class="pop-up-moves">
                                    <ul>
                                        <li>Llamarada (10/10)</li>
                                        <li>?</li>
                                        <li>?</li>
                                        <li>?</li>
                                    </ul>
                                </div>
                            </div>
                            <img src="/img/POKEBALL.png" id="pokemon-p2-2">
                            <div id="pokemonP23" class="pokemonP23">
                                <div class="main-info">
                                    <p style="margin-right: 20px;">GRANBULL</p>
                                    <p class="fairy type-description" style="margin-right: 20px;">HADA</p>
                                </div>
                                <div class="stats">
                                    <p style="font-size: 15px;">HP: 100%</p>
                                    <p style="font-size: 15px;">VEL: 100 a 120</p>
                                </div>
                                <div class="pop-up-moves">
                                    <ul>
                                        <li>Llamarada (10/10)</li>
                                        <li>?</li>
                                        <li>?</li>
                                        <li>?</li>
                                    </ul>
                                </div>
                            </div>
                            <img src="/img/POKEBALL.png" id="pokemon-p2-3">
                        </div>
                        <div class="game-info-trainer-pokemon-down">
                            <div id="pokemonP24" class="pokemonP24">
                                <div class="main-info">
                                    <p style="margin-right: 20px;">GRANBULL</p>
                                    <p class="fairy type-description" style="margin-right: 20px;">HADA</p>
                                </div>
                                <div class="stats">
                                    <p style="font-size: 15px;">HP: 100%</p>
                                    <p style="font-size: 15px;">VEL: 100 a 120</p>
                                </div>
                                <div class="pop-up-moves">
                                    <ul>
                                        <li>Llamarada (10/10)</li>
                                        <li>?</li>
                                        <li>?</li>
                                        <li>?</li>
                                    </ul>
                                </div>
                            </div>
                            <img src="/img/POKEBALL.png" id="pokemon-p2-4">
                            <div id="pokemonP25" class="pokemonP25">
                                <div class="main-info">
                                    <p style="margin-right: 20px;">GRANBULL</p>
                                    <p class="fairy type-description" style="margin-right: 20px;">HADA</p>
                                </div>
                                <div class="stats">
                                    <p style="font-size: 15px;">HP: 100%</p>
                                    <p style="font-size: 15px;">VEL: 100 a 120</p>
                                </div>
                                <div class="pop-up-moves">
                                    <ul>
                                        <li>Llamarada (10/10)</li>
                                        <li>?</li>
                                        <li>?</li>
                                        <li>?</li>
                                    </ul>
                                </div>
                            </div>
                            <img  src="/img/POKEBALL.png" id="pokemon-p2-5">
                            <div id="pokemonP26" class="pokemonP26">
                                <div class="main-info">
                                    <p style="margin-right: 20px;">GRANBULL</p>
                                    <p class="fairy type-description" style="margin-right: 20px;">HADA</p>
                                </div>
                                <div class="stats">
                                    <p style="font-size: 15px;">HP: 100%</p>
                                    <p style="font-size: 15px;">VEL: 100 a 120</p>
                                </div>
                                <div class="pop-up-moves">
                                    <ul>
                                        <li>Llamarada (10/10)</li>
                                        <li>?</li>
                                        <li>?</li>
                                        <li>?</li>
                                    </ul>
                                </div>
                            </div>
                            <img  src="/img/POKEBALL.png" id="pokemon-p2-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="others-message" style="display: none;" class="game-small-container-down">
            <div id="game-pick-pokemon" class="game-pick-pokemon">
                <div class="game-pick-line-p">
                    <p id="chose-pokemon">Elige tu proximo pokemon...</p>
                </div>
                <div class="game-pick-line">
                    <div id="pokemonP11ChangeInfo" class="pokemonP11Change">
                        <div  class="main-info">
                            <p style="margin-right: 20px;">CHARIZARD</p>
                            <p class="fire type-description" style="margin-right: 20px;">FUEGO</p>
                            <p class="flying type-description">VOLADOR</p>
                        </div>
                        <div  class="stats">
                            <p style="font-size: 15px;">HP: 100% (140/102)</p>
                            <p style="font-size: 12px;">ATQ: 100 / DEF: 120 / ATQSP: 100 / DEFSP: 100 / VEL: 100</p>
                        </div>
                        <div class="pokemonP11Change-pop-up-moves">
                            <ul>
                                <li>Llamarada (10/10)</li>
                                <li>Placaje (10/10)</li>
                                <li>Proteccion (10/10)</li>
                                <li>Burbuja (10/10)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="cursorClick" id="pokemonP11Change" onclick ="turnWait(0, 'pokemon')" onmouseleave="pokemonSwitchOutChange(1)" onmouseenter="pokemonSwitchInChange(1)">
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/122.png">
                        <progress value="80" max="100" style="width: 100%; height: 10px;"></progress>
                    </div>
                    <div id="pokemonP12ChangeInfo" class="pokemonP12Change">
                        <div class="main-info">
                            <p style="margin-right: 20px;">CHARIZARD</p>
                            <p class="fire type-description" style="margin-right: 20px;">FUEGO</p>
                            <p class="flying type-description">VOLADOR</p>
                        </div>
                        <div class="stats">
                            <p style="font-size: 15px;">HP: 100% (140/102)</p>
                            <p style="font-size: 12px;">ATQ: 100 / DEF: 120 / ATQSP: 100 / DEFSP: 100 / VEL: 100</p>
                        </div>
                        <div  class="pop-up-moves">
                            <ul>
                                <li>Llamarada (10/10)</li>
                                <li>Placaje (10/10)</li>
                                <li>Proteccion (10/10)</li>
                                <li>Burbuja (10/10)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="cursorClick" id="pokemonP12Change" onclick ="turnWait(1, 'pokemon')" onmouseleave="pokemonSwitchOutChange(2)" onmouseenter="pokemonSwitchInChange(2)">
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/112.png">
                        <progress value="80" max="100" style="width: 100%; height: 10px;"></progress>
                    </div>
                    <div id="pokemonP13ChangeInfo" class="pokemonP13Change">
                        <div  class="main-info">
                            <p style="margin-right: 20px;">CHARIZARD</p>
                            <p class="fire type-description" style="margin-right: 20px;">FUEGO</p>
                            <p class="flying type-description">VOLADOR</p>
                        </div>
                        <div  class="stats">
                            <p style="font-size: 15px;">HP: 100% (140/102)</p>
                            <p style="font-size: 12px;">ATQ: 100 / DEF: 120 / ATQSP: 100 / DEFSP: 100 / VEL: 100</p>
                        </div>
                        <div  class="pop-up-moves">
                            <ul>
                                <li>Llamarada (10/10)</li>
                                <li>Placaje (10/10)</li>
                                <li>Proteccion (10/10)</li>
                                <li>Burbuja (10/10)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="cursorClick" id="pokemonP13Change" onclick ="turnWait(2, 'pokemon')" onmouseleave="pokemonSwitchOutChange(3)" onmouseenter="pokemonSwitchInChange(3)">
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/152.png">
                        <progress value="80" max="100" style="width: 100%; height: 10px;"></progress>
                    </div>
                    <div id="pokemonP14ChangeInfo" class="pokemonP14Change">
                        <div class="main-info">
                            <p style="margin-right: 20px;">CHARIZARD</p>
                            <p class="fire type-description" style="margin-right: 20px;">FUEGO</p>
                            <p class="flying type-description">VOLADOR</p>
                        </div>
                        <div  class="stats">
                            <p style="font-size: 15px;">HP: 100% (140/102)</p>
                            <p style="font-size: 12px;">ATQ: 100 / DEF: 120 / ATQSP: 100 / DEFSP: 100 / VEL: 100</p>
                        </div>
                        <div  class="pop-up-moves">
                            <ul>
                                <li>Llamarada (10/10)</li>
                                <li>Placaje (10/10)</li>
                                <li>Proteccion (10/10)</li>
                                <li>Burbuja (10/10)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="cursorClick" id="pokemonP14Change" onclick ="turnWait(3, 'pokemon')" onmouseleave="pokemonSwitchOutChange(4)" onmouseenter="pokemonSwitchInChange(4)">
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/192.png">
                        <progress value="80" max="100" style="width: 100%; height: 10px;"></progress>
                    </div>
                    <div id="pokemonP15ChangeInfo" class="pokemonP15Change">
                        <div  class="main-info">
                            <p style="margin-right: 20px;">CHARIZARD</p>
                            <p class="fire type-description" style="margin-right: 20px;">FUEGO</p>
                            <p class="flying type-description">VOLADOR</p>
                        </div>
                        <div  class="stats">
                            <p style="font-size: 15px;">HP: 100% (140/102)</p>
                            <p style="font-size: 12px;">ATQ: 100 / DEF: 120 / ATQSP: 100 / DEFSP: 100 / VEL: 100</p>
                        </div>
                        <div  class="pop-up-moves">
                            <ul>
                                <li>Llamarada (10/10)</li>
                                <li>Placaje (10/10)</li>
                                <li>Proteccion (10/10)</li>
                                <li>Burbuja (10/10)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="cursorClick" id="pokemonP15Change" onclick ="turnWait(4, 'pokemon')" onmouseleave="pokemonSwitchOutChange(5)" onmouseenter="pokemonSwitchInChange(5)">
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/142.png">
                        <progress value="80" max="100" style="width: 100%; height: 10px;"></progress>
                    </div>
                    <div id="pokemonP16ChangeInfo" class="pokemonP16Change">
                        <div class="main-info">
                            <p style="margin-right: 20px;">CHARIZARD</p>
                            <p class="fire type-description" style="margin-right: 20px;">FUEGO</p>
                            <p class="flying type-description">VOLADOR</p>
                        </div>
                        <div  class="stats">
                            <p style="font-size: 15px;">HP: 100% (140/102)</p>
                            <p style="font-size: 12px;">ATQ: 100 / DEF: 120 / ATQSP: 100 / DEFSP: 100 / VEL: 100</p>
                        </div>
                        <div  class="pop-up-moves">
                            <ul>
                                <li>Llamarada (10/10)</li>
                                <li>Placaje (10/10)</li>
                                <li>Proteccion (10/10)</li>
                                <li>Burbuja (10/10)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="cursorClick" id="pokemonP16Change" onclick ="turnWait(5, 'pokemon')" onmouseleave="pokemonSwitchOutChange(6)" onmouseenter="pokemonSwitchInChange(6)">
                        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/172.png">
                        <progress value="80" max="100" style="width: 100%; height: 10px;"></progress>
                    </div>
                </div>
            </div> 
            <div id="game-wait" class="game-wait">
                <p>Esperando a que el rival haga un movimiento...</p>
                <a onclick="cancelTurn()" class="nes-btn">Cancelar Movimiento</a>
            </div>
            <div id="game-finished-win" class="game-finished-win">
                <div style="display:flex; justify-content: center; align-items: center;">
                    <p style="margin: 0px;">Has ganado la partida</p><img style="margin-left:12px" src="/img/dedos.png" height="36px" width="25px">
                </div>
                <p id="elo-win">Elo: 1119 -> 2030</p>
                <a class="nes-btn" href="/hub">Ir al Menú</a>
            </div>
            <div id="game-lost" class="game-finished-lost">
                <p>Has perdido la partida :(</p>
                <p id="elo-lost">Elo: 1119 -> 1000</p>
                <a class="nes-btn" href="/hub">Ir al Menú</a>
            </div>
        </div>
        <div id="game-attacks-changes" class="game-small-container-down">
            <div class="game-small-container-down-attacks">
                <div class="game-small-container-down-attacks-left">
                    <div class="game-attacks-line">
                        <div id="move1Info" class="move1">
                            <div class="main-info">
                                <p style="margin-right: 20px;">LLAMARADA</p>
                                <p class="fire type-description" style="margin-right: 20px;">FUEGO</p>
                                <p class="special">ESPECIAL</p>
                            </div>
                            <div class="stats">
                                <p style="font-size: 15px;">PRECISION: 100%</p>
                            </div>
                            <div class="pop-up-moves">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, similique id magni voluptate vel amet, maiores eaque tempora ea dolor vero nobis quam aliquam, magnam a eum vitae perspiciatis dolore.
                            </div>
                        </div>
                        <div class="game-attacks-line">
                            <div onclick ="turnWait(0, 'move')"  onmouseleave="moveInfoOut(1)" onmouseenter="moveInfoIn(1)" id="game-attacks-1" class="water game-attacks">
                                <div class="game-attacks-name">
                                    <p id="move-1-p">Protección</p>
                                </div>
                                <div class="game-attacks-stats">
                                    <p id="move-1-type">Normal</p>
                                    <p id="move-1-pp">10/11</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="game-attacks-line">
                        <div id="move2Info" class="move2">
                            <div class="main-info">
                                <p style="margin-right: 20px;">LLAMARADA</p>
                                <p class="fire type-description" style="margin-right: 20px;">FUEGO</p>
                                <p class="special">ESPECIAL</p>
                            </div>
                            <div class="stats">
                                <p style="font-size: 15px;">PRECISION: 100%</p>
                            </div>
                            <div class="pop-up-moves">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, similique id magni voluptate vel amet, maiores eaque tempora ea dolor vero nobis quam aliquam, magnam a eum vitae perspiciatis dolore.
                            </div>
                        </div>
                        <div onclick ="turnWait(1, 'move')" onmouseleave="moveInfoOut(2)" onmouseenter="moveInfoIn(2)" id="game-attacks-2" class="water game-attacks">
                            <div class="game-attacks-name">
                                <p id="move-2-p">Protección</p>
                            </div>
                            <div class="game-attacks-stats">
                                <p id="move-2-type">Normal</p>
                                <p id="move-2-pp">10/11</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="game-small-container-down-attacks-right">
                    <div  class="game-attacks-line">
                        <div id="move3Info" class="move3">
                            <div class="main-info">
                                <p style="margin-right: 20px;">LLAMARADA</p>
                                <p class="fire type-description" style="margin-right: 20px;">FUEGO</p>
                                <p class="special">ESPECIAL</p>
                            </div>
                            <div class="stats">
                                <p style="font-size: 15px;">PRECISION: 100%</p>
                            </div>
                            <div class="pop-up-moves">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, similique id magni voluptate vel amet, maiores eaque tempora ea dolor vero nobis quam aliquam, magnam a eum vitae perspiciatis dolore.
                            </div>
                        </div>
                        <div  onclick ="turnWait(2, 'move')" onmouseleave="moveInfoOut(3)" onmouseenter="moveInfoIn(3)" id="game-attacks-3" class="water game-attacks">
                            <div class="game-attacks-name">
                                <p id="move-3-p">Protección</p>
                            </div>
                            <div class="game-attacks-stats">
                                <p id="move-3-type">Normal</p>
                                <p id="move-3-pp">10/11</p>
                            </div>
                        </div>
                    </div>
                    <div class="game-attacks-line">
                        <div id="move4Info" class="move4">
                            <div class="main-info">
                                <p style="margin-right: 20px;">LLAMARADA</p>
                                <p class="fire type-description" style="margin-right: 20px;">FUEGO</p>
                                <p class="special">ESPECIAL</p>
                            </div>
                            <div class="stats">
                                <p style="font-size: 15px;">PRECISION: 100%</p>
                            </div>
                            <div class="pop-up-moves">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, similique id magni voluptate vel amet, maiores eaque tempora ea dolor vero nobis quam aliquam, magnam a eum vitae perspiciatis dolore.
                            </div>
                        </div>
                        <div onclick ="turnWait(3, 'move')" onmouseleave="moveInfoOut(4)" onmouseenter="moveInfoIn(4)"  id="game-attacks-4" class="fire game-attacks">
                            <div class="game-attacks-name">
                                <p id="move-4-p">LLAMARADA</p>
                            </div>
                            <div class="game-attacks-stats">
                                <p id="move-4-type">FUEGO</p>
                                <p id="move-4-pp">7/10</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div  class="game-small-container-down-switchs">
                <div class="game-small-container-down-switchs-minis">
                    <div id="pokemonBottom1" class="pokemonP11">
                        <div class="main-info">
                            <p style="margin-right: 20px;">CHARIZARD</p>
                            <p class="fire type-description" style="margin-right: 20px;">FUEGO</p>
                            <p class="flying type-description">VOLADOR</p>
                        </div>
                        <div class="stats">
                            <p style="font-size: 15px;">HP: 100% (140/102)</p>
                            <p style="font-size: 12px;">ATQ: 100 / DEF: 120 / ATQSP: 100 / DEFSP: 100 / VEL: 100</p>
                        </div>
                        <div class="pop-up-moves">
                            <ul>
                                <li>Llamarada (10/10)</li>
                                <li>Placaje (10/10)</li>
                                <li>Proteccion (10/10)</li>
                                <li>Burbuja (10/10)</li>
                            </ul>
                        </div>
                    </div>
                    <div id="pokemonBottom1Div" onclick ="turnWait(0, 'pokemon')" onmouseleave="pokemonSwitchOut(1)" onmouseenter="pokemonSwitchIn(1)"  class="game-pokemon-stats-container">
                        <img id="pokemon-p1-1-bottom" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/192.png" height="75px" width="75px">
                        <progress id="pokemon-p1-1-progress" value="80" max="100" style="width: 100%; height: 5px;"></progress>
                    </div>
                    <div id="pokemonBottom2" class="pokemonP12">
                        <div class="main-info">
                            <p style="margin-right: 20px;">CHARIZARD</p>
                            <p class="fire type-description" style="margin-right: 20px;">FUEGO</p>
                            <p class="flying type-description">VOLADOR</p>
                        </div>
                        <div class="stats">
                            <p style="font-size: 15px;">HP: 100% (140/102)</p>
                            <p style="font-size: 12px;">ATQ: 100 / DEF: 120 / ATQSP: 100 / DEFSP: 100 / VEL: 100</p>
                        </div>
                        <div class="pop-up-moves">
                            <ul>
                                <li>Llamarada (10/10)</li>
                                <li>Placaje (10/10)</li>
                                <li>Proteccion (10/10)</li>
                                <li>Burbuja (10/10)</li>
                            </ul>
                        </div>
                    </div>
                    <div id="pokemonBottom2Div" onclick ="turnWait(1, 'pokemon')" onmouseleave="pokemonSwitchOut(2)" onmouseenter="pokemonSwitchIn(2)" onclick ="changePokemonP1(1)" class="game-pokemon-stats-container">
                        <img id="pokemon-p1-2-bottom" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png" height="75px" width="75px">
                        <progress id="pokemon-p1-2-progress" value="80" max="100" style="width: 100%; height: 5px;"></progress>
                    </div>
                    <div id="pokemonBottom3" class="pokemonP13">
                        <div class="main-info">
                            <p style="margin-right: 20px;">CHARIZARD</p>
                            <p class="fire type-description" style="margin-right: 20px;">FUEGO</p>
                            <p class="flying type-description">VOLADOR</p>
                        </div>
                        <div class="stats">
                            <p style="font-size: 15px;">HP: 100% (140/102)</p>
                            <p style="font-size: 12px;">ATQ: 100 / DEF: 120 / ATQSP: 100 / DEFSP: 100 / VEL: 100</p>
                        </div>
                        <div class="pop-up-moves">
                            <ul>
                                <li>Llamarada (10/10)</li>
                                <li>Placaje (10/10)</li>
                                <li>Proteccion (10/10)</li>
                                <li>Burbuja (10/10)</li>
                            </ul>
                        </div>
                    </div>
                    <div id="pokemonBottom3Div" onclick ="turnWait(2, 'pokemon')" onmouseleave="pokemonSwitchOut(3)" onmouseenter="pokemonSwitchIn(3)" onclick ="changePokemonP1(2)" class="game-pokemon-stats-container">
                        <img id="pokemon-p1-3-bottom" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/293.png" height="75px" width="75px">
                        <progress id="pokemon-p1-3-progress" value="80" max="100" style="width: 100%; height: 5px;"></progress>
                    </div>
                </div>
                <div class="game-small-container-down-switchs-minis">
                    <div id="pokemonBottom4" class="pokemonP14">
                        <div class="main-info">
                            <p style="margin-right: 20px;">CHARIZARD</p>
                            <p class="fire type-description" style="margin-right: 20px;">FUEGO</p>
                            <p class="flying type-description">VOLADOR</p>
                        </div>
                        <div class="stats">
                            <p style="font-size: 15px;">HP: 100% (140/102)</p>
                            <p style="font-size: 12px;">ATQ: 100 / DEF: 120 / ATQSP: 100 / DEFSP: 100 / VEL: 100</p>
                        </div>
                        <div class="pop-up-moves">
                            <ul>
                                <li>Llamarada (10/10)</li>
                                <li>Placaje (10/10)</li>
                                <li>Proteccion (10/10)</li>
                                <li>Burbuja (10/10)</li>
                            </ul>
                        </div>
                    </div>
                    <div id="pokemonBottom4Div" onclick ="turnWait(3, 'pokemon')" onmouseleave="pokemonSwitchOut(4)" onmouseenter="pokemonSwitchIn(4)" onclick ="changePokemonP1(3)" class="game-pokemon-stats-container">
                        <img id="pokemon-p1-4-bottom" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/301.png" height="75px" width="75px">
                        <progress id="pokemon-p1-4-progress" value="80" max="100" style="width: 100%; height: 5px;"></progress>
                    </div>
                    <div id="pokemonBottom5" class="pokemonP15">
                        <div class="main-info">
                            <p style="margin-right: 20px;">CHARIZARD</p>
                            <p class="fire type-description" style="margin-right: 20px;">FUEGO</p>
                            <p class="flying type-description">VOLADOR</p>
                        </div>
                        <div class="stats">
                            <p style="font-size: 15px;">HP: 100% (140/102)</p>
                            <p style="font-size: 12px;">ATQ: 100 / DEF: 120 / ATQSP: 100 / DEFSP: 100 / VEL: 100</p>
                        </div>
                        <div class="pop-up-moves">
                            <ul>
                                <li>Llamarada (10/10)</li>
                                <li>Placaje (10/10)</li>
                                <li>Proteccion (10/10)</li>
                                <li>Burbuja (10/10)</li>
                            </ul>
                        </div>
                    </div>
                    <div id="pokemonBottom5Div" onclick ="turnWait(4, 'pokemon')" onmouseleave="pokemonSwitchOut(5)" onmouseenter="pokemonSwitchIn(5)" onclick ="changePokemonP1(4)" class="game-pokemon-stats-container">
                        <img id="pokemon-p1-5-bottom" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/500.png" height="75px" width="75px">
                        <progress id="pokemon-p1-5-progress" value="80" max="100" style="width: 100%; height: 5px;"></progress>
                    </div>
                    <div id="pokemonBottom6"  class="pokemonP16">
                        <div class="main-info">
                            <p style="margin-right: 20px;">CHARIZARD</p>
                            <p class="fire type-description" style="margin-right: 20px;">FUEGO</p>
                            <p class="flying type-description">VOLADOR</p>
                        </div>
                        <div class="stats">
                            <p style="font-size: 15px;">HP: 100% (140/102)</p>
                            <p style="font-size: 12px;">ATQ: 100 / DEF: 120 / ATQSP: 100 / DEFSP: 100 / VEL: 100</p>
                        </div>
                        <div class="pop-up-moves">
                            <ul>
                                <li>Llamarada (10/10)</li>
                                <li>Placaje (10/10)</li>
                                <li>Proteccion (10/10)</li>
                                <li>Burbuja (10/10)</li>
                            </ul>
                        </div>
                    </div>
                    <div id="pokemonBottom6Div" onclick ="turnWait(5, 'pokemon')" onmouseleave="pokemonSwitchOut(6)" onmouseenter="pokemonSwitchIn(6)" onclick ="changePokemonP1(5)" class="game-pokemon-stats-container">
                        <img id="pokemon-p1-6-bottom" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/68.png" height="75px" width="75px">
                        <progress id="pokemon-p1-6-progress" value="80" max="100" style="width: 100%; height: 5px;"></progress>
                    </div>
                </div>
            </div>
            {{!-- ----------------- --}}
        </div>
    </div>

    <div class="game-container-right">
        <div class="game-chat-container-up">
            <div class="timer-container">
            
            </div>
            <img src="/img/botonexit.png" onclick="forfeit()" height="50px">
        </div>
        <div id="game-chat-container-mid" class="game-chat-container-mid">
            <div class="game-chat-container-turn">
                TURNO 1
            </div>
        </div>
        <div class="game-chat-container-down">
            <input id="msg-input" type="text" class="nes-input" placeholder="">
        </div>
    </div>
</div>  


<script src="/js/queueRandom.js"></script>