
<div class="ranking-container">
    <div class="header">
        <div class="header-left"> 
        </div>
        <div class="header-mid">
            <a href="/hub">POKEMON SHOWDOWN</a>
        </div>
        <div class="header-right">
            <img src="/img/muted.png">
        </div>
    </div>
    <div class="ranking-container-mini-father">
        <div class="ranking-container-mini">
            <div class="ranking-title">
                <h1>RANKING</h1>
            </div>
            <div class="ranking-players">
                <div class="ranking-players-info">
                    <p>Nacholito</p><p>1000</p>
                </div>
                <div class="ranking-players-info">
                    <p>Nacholito</p><p>1000</p>
                </div>
                <div class="ranking-players-info">
                    <p>Nacholito</p><p>1000</p>
                </div>
                <div class="ranking-players-info">
                    <p>Nacholito</p><p>1000</p>
                </div>
                <div class="ranking-players-info">
                    <p>Nacholito</p><p>1000</p>
                </div>
                <div class="ranking-players-info">
                    <p>Nacholito</p><p>1000</p>
                </div>
                <div class="ranking-players-info">
                    <p>Nacholito</p><p>1000</p>
                </div>
                <div class="ranking-players-info">
                    <p>Nacholito</p><p>1000</p>
                </div>
                <div class="ranking-players-info">
                    <p>Nacholito</p><p>1000</p>
                </div>
                <div class="ranking-players-info">
                    <p>Nacholito</p><p>1000</p>
                </div>
                <div class="ranking-players-info">
                    <p>Nacholito</p><p>1000</p>
                </div>
                <div class="ranking-players-info">
                    <p>Nacholito</p><p>1000</p>
                </div>
                <div class="ranking-players-info">
                    <p>Nacholito</p><p>1000</p>
                </div>
                <div class="ranking-players-info">
                    <p>Nacholito</p><p>1000</p>
                </div>
                <div class="ranking-players-info">
                    <p>Nacholito</p><p>1000</p>
                </div>
                <div class="ranking-players-info">
                    <p>Nacholito</p><p>1000</p>
                </div>
                <div class="ranking-players-info">
                    <p>Nacholito</p><p>1000</p>
                </div>

            </div>
        </div>
    </div>
</div>