
<div class="ranking-container">
    <div class="header">
        <div class="header-left"> 
        </div>
        <div class="header-mid">
            <a href="/hub">POKEMON</a>
        </div>
        <div class="header-right">
            <img src="/img/muted.png">
        </div>
    </div>
    <div class="ranking-container-mini-father">
        <div class="ranking-container-mini">
            <div class="ranking-title">
                <h1>RANKING ROSTER</h1>
            </div>
            <div class="ranking-players">
                {{#each rankers}}
                    <div class="ranking-players-info">
                        <p>{{{this.user}}}</p><p>{{{this.elo}}}</p><img class="ranking-players-info" src="/img/{{{this.avatar}}}" alt="avatar">
                    </div>                  
                {{/each}}
            </div>
        </div>
    </div>
</div>