
<div class="ranking-container">
    <div class="header">
        <div class="header-left">
            <ul class="menu-horizontal">
                <li>
                    <a><img src="img/POKEBALL.png" alt="menu" class="menu"></a>
                    <ul id="menu-vertical" class="menu-vertical">
                        <li><a href="/hub">INICIO</a></li>
                        <li><a href="/ranking">RANKING</a></li>
                        <li><a href="/selectTeam">EQUIPO</a></li>
                        <li><a href="/queueTeams">JUGAR EQUIPOS</a></li>
                        <li><a href="/queueRandom">JUGAR RANDOM</a></li>
                        <li><a href="/profile">PERFIL</a></li>
                        <li style="background-color: rgb(143, 139, 139); border-bottom-left-radius:10px; border-bottom-right-radius:10px;"><a href="/logout">LOG-OUT</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="header-mid">
            <a href="/hub">POKEMON COLISEUM</a>
        </div>
        <div class="header-right">
            <img src="/img/muted.png">
        </div>
    </div>
    <div class="ranking-container-mini-father">
        <div class="profile-arrow-left">
            <img id="profile-left-arrow" src="/img/flecha-izq.png" onclick="changeScreen()">
        </div>
        <div class="ranking-container-mini" id="ranking-container-mini">
            <div class="ranking-title" id="ranking-title">
                <h1>RANKING ROSTER</h1>
            </div>
            <div class="ranking-players">
                {{#each rankers}}
                    <div class="ranking-players-info">
                        <p>{{{this.user}}}</p><p>{{{this.elo}}}</p>
                    </div>                
                {{/each}}
            </div>
        </div>
        
        <div class="ranking-container-random"  id="ranking-container-random">
            <div class="ranking-title-random" id="ranking-title-random">
                <h1>RANKING RANDOM</h1>
            </div>
            <div class="ranking-players">
                {{#each rankersRandom}}
                    <div class="ranking-players-info">
                        <p>{{{this.user}}}</p><p class="ranking-elo">{{{this.elo}}}</p>
                    </div>                  
                {{/each}}
            </div>
        </div>
        <div class="profile-arrow-right">
            <img id="profile-right-arrow" src="/img/flecha-der.png" onclick="changeScreen()">
        </div>
    </div>
</div>

<script src="/js/ranking.js"></script>