<link rel="stylesheet" href="./node_modules/nes.css/css/nes.min.css">
<div class="register-container-total">
    <div class="register-container-total-left">
        <div class="register-container-total-mini">
            <div class="register-container-total-up">
                <h1>REGISTRO</h1>
            </div>
            <div class="register-container-total-mid">
                <div>
                    <input type="text" id="register-name" class="nes-input" placeholder="Nombre">
                    <input type="text" id="register-surname" class="nes-input" placeholder="Apellido">
                    <input type="text" id="register-user" class="nes-input" placeholder="Usuario">
                    <input type="email" id="register-mail" class="nes-input" placeholder="Mail">
                    <input type="password" id="register-pass" class="nes-input" placeholder="Contraseña">
                    <input type="password" id="register-pass-confirm" class="nes-input" placeholder="Confirmar Contraseña">
                </div>
                <a style="color:#ce372b;" href="/">¿Ya tenés cuenta?</a>
            </div>
            <div class="register-container-total-down">
                <button type="button" class="nes-btn is-error" class="nes-btn is-primary" onclick="register()">REGISTRATE</button>
            </div>
        </div>
    </div>
    <div class="register-container-total-right"></div>
</div>

<script src="/js/register.js"></script>