<link rel="stylesheet" href="./node_modules/nes.css/css/nes.min.css">

<div class="register-container-total">
    <div id="register-container-total-mini"class="nes-container with-title is-centered">
        <div class="register-container-total-up">
            <h1>REGISTRO</h1>
        </div>
        <div class="register-container-total-mid">
            <div>
                <input type="text" class="nes-input" placeholder="Nombre Completo">
                <input type="text" class="nes-input" placeholder="Usuario">
                <input type="password" class="nes-input" placeholder="Mail">
                <input type="password" class="nes-input" placeholder="Contraseña">
                <input type="password" class="nes-input" placeholder="Confirmar Contraseña">
            </div>
            <a href="/register">¿No tenés cuenta?</a>
        </div>
        <div class="register-container-total-down">
            <button type="button" class="nes-btn is-primary">Logueate</button>
        </div>
    </div>
</div>

