<link rel="stylesheet" href="./node_modules/nes.css/css/nes.min.css">
<div class="register-container-total">
    <div class="register-container-total-left">
        <div class="register-container-total-mini">
            <div class="register-container-total-up">
                <h1>REGISTRO</h1>
            </div>
            <div class="register-container-total-mid">
                <div>
                    <form action="/register" method="post">
                        <input type="text" class="nes-input" placeholder="Nombre">
                        <input type="text" class="nes-input" placeholder="Apellido">
                        <input type="text" class="nes-input" placeholder="Usuario">
                        
                        <input type="email" name="email" class="nes-input" placeholder="Mail" id="emailFormRegister">
                        <input type="password" name="password" class="nes-input" placeholder="Contraseña">

                        <input type="password" class="nes-input" placeholder="Confirmar Contraseña">
                        <a style="color:#ce372b;" href="/">¿Ya tenés cuenta?</a>
                        <div class="register-container-total-down">
                            <button type="submit" class="nes-btn is-error" class="nes-btn is-primary">REGISTRATE</button>
                        </div>
                        <div>{{message}}</div>                                   
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="register-container-total-right"></div>
</div>

<script src="/js/register.js"></script>