<link rel="stylesheet" href="./node_modules/nes.css/css/nes.min.css" onload="blankTeam">
<div class="teams-main" onload="searchPokemons()">
    <div class="header">
        <div class="header-left"> 
        </div>
        <div class="header-mid">
            <a href="/hub">HACE TU EQUIPO</a>
        </div>
        <div id="header-right"class="header-right">
            <img id="header-music-logo" src="/img/muted.png" onclick="musicOnOff()" alt="muted">
        </div>
    </div>
    <div class="search-bar-info">
        <input type="text" onkeyup="searchPokemons()" id="search-bar-info" class="nes-input" placeholder="Buscar..." >
    </div>
    <div class="teams-mega-container">
        <div class="pokemon-list-team" > 
            <ul class="pokemon-list-team-ul" id="pokemonList">
            </ul>
        </div>
        <div class="teams-right-container-mini">
            <div class="teams-right-container-mini-top"></div>
            <div class="teams-right-container-mini-top"></div>
            <div class="teams-right-container-mini-top">
                <img src="/img/x.png">
                <img src="/img/tick.png">
            </div>
            <div class="teams-right-container-mini-bottom" style="border-right: solid black 2px;">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/132.png">
                <p>DITTO</p>
            </div>
            <div class="teams-right-container-mini-bottom" style="border-right: solid black 2px;">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png">
                <p>PIKACHU</p>
            </div>
            <div class="teams-right-container-mini-bottom" style="border-right: solid black 2px;"></div>
            <div class="teams-right-container-mini-bottom" style="border-right: solid black 2px;"></div>
            <div class="teams-right-container-mini-bottom" style="border-right: solid black 2px;"></div>
            <div class="teams-right-container-mini-bottom" ></div>
        </div>
    </div>
    
</div>
<script src="/js/teams.js"></script>