<link rel="stylesheet" href="./node_modules/nes.css/css/nes.min.css">
<div class="teams-main">
    <div class="header">
        <div class="header-left"> 
        </div>
        <div class="header-mid">
            <a href="/hub">HACE TU EQUIPO</a>
        </div>
        <div id="header-right"class="header-right">
            <img id="header-music-logo" src="/img/muted.png" onclick="musicOnOff()" alt="muted">
        </div>
    </div>
    <div class="search-bar-info">
        <input type="text" onkeyup="searchPokemons()" id="search-bar-info" class="nes-input" placeholder="Buscar..." >
    </div>


</div>
<script src="/js/teams.js"></script>