@import "./node_modules/nes.css/css/nes.css";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
}
/*---------LOGIN-----------*/

.login-container-total{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    background-image: url("/img/fondo21.png ");
    background-size: cover;
}

#login-container-total-mini{
    background-color: white;
    width: 30%;
    height: 60%;
}

#login-container-total-mini input{
    width:90%;
    margin-block: 20px;
    outline-color: black;
    color: black;
}

#login-container-total-mini input::placeholder{
    color: black;
    opacity: 0.6;
}

.login-container-total-up{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container-total-mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
}

.login-container-total-mid div{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container-total-down{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
}

/*------------REGISTER------------*/

.register-container-total{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    /* background-image: url("/img/pokemonwallpaper.jpg");
    background-size: cover; */
}

#register-container-total-mini{
    outline-color: transparent;
    color: black;
    background-color: white;
    width: 40%;
    height: 65%;
}

#register-container-total-mini input{
    width:45%;
    margin-block: 20px;
}

#register-container-total-mini input::placeholder{
    color: black;
    opacity: 0.6;
}

.register-container-total-up{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container-total-mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
}

.register-container-total-mid div{
    margin-bottom: 20px;
    text-align: center;
}

.register-container-total-down{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
}


/*---------GAME-----------*/

.game-container-total{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.game-container-left{
    height: 100vh;
    width: 70vw;
}

.game-small-container-up{
    display: flex;
    height: 74%;
    width: 100%;
}

.game-left-container{
    border-right: solid black 4px;
    width: 15%;
    height: 100%;
    background-color: grey;
}

.game-mid-container{
    width: 70%;
    height: 100%;
    background-image: url("/img/campolucha.jpg");
    background-size: cover;
}

.game-mid-container-top{
    display: flex;
    height: 50%;
    width: 100%;
}

.game-mid-container-top-left{
    height: 100%;
    width: 50%;
}

.game-mid-container-top-right{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.game-mid-container-bottom{
    display: flex;
    height: 50%;
    width: 100%;
}

.game-mid-container-bottom-left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.game-mid-container-bottom-right{
    height: 100%;
    width: 50%;
}

.game-right-container{
    border-left: solid black 4px;
    border-right: solid black 4px;
    width: 15%;
    height: 100%;
    background-color: grey;
}

.game-troll-container{
    width: 100%;
    height: 60%;
}

.game-not-troll-container{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-small-container-down{
    height: 26%;
    display: flex;
}

.game-small-container-down-attacks{
    border-top: solid black 4px;
    border-right: solid black 4px;
    width: 66.66666%;
    height: 100%;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-small-container-down-attacks-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 50%;
    background-color: rgb(114, 114, 114);
}
.game-small-container-down-attacks-left{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 50%;
    background-color: rgb(114, 114, 114);
}

.game-attacks-line{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-attacks{
    border: solid black 3px;
    padding: 10px;
    display: inline-block;
	width: 80%;
	height: 65%;
	position: relative;
    background-color: rgb(214, 214, 214);
}

.game-attacks-name{
    position: absolute;
	top: 50%;
	left: 50%;
    transform: translateX(-50%) translateY(-45%);
}


.game-attacks-stats{
    display: flex;
    height: auto;
    width: 85%;
    justify-content: space-between;
    position: absolute;
	top: 50%;
	left: 50%;
    transform: translateX(-50%) translateY(35%);
}

.game-attacks-stats p{
    font-size: 10px;
}


.game-small-container-down-switchs{
    border-top: solid black 4px;
    border-right: solid black 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.333333%;
    height: 100%;
    background-color: grey;
}

.game-container-right{
    background-color: grey;
    height: 100vh;
    width: 30vw;
}

.game-chat-container-up{
    overflow-y: auto;
    padding-top: 20px;
    height: 90%;
    width: 100%;
    background-color: grey;
}

.game-chat-container-down{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-chat-container-down input{
    width: 400px;
    height: 45px;
}

progress{
    appearance: none;
    -webkit-appearance: none;
}

progress::-webkit-progress-bar {
    background-color: grey;
}
  
progress::-webkit-progress-value {
    background-color: darkred;
}

.game-container-msg-right{
    height: 4%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 40px;
    font-size: 13px;
}

.game-container-msg-right p{
    margin: 0;
}

.game-container-msg-left{
    height: 4%;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 40px;
    font-size: 13px;
}

.game-container-msg-left p{
    margin: 0;
}