@import "./node_modules/nes.css/css/nes.css";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    -webkit-user-drag: none
}

.game-chat-container-mid::-webkit-scrollbar {
    width: 8px;          
}
  
.game-chat-container-mid::-webkit-scrollbar-track {
    background: white;       
}
  
.game-chat-container-mid::-webkit-scrollbar-thumb {
    background-color: rgb(59, 59, 59);   
}

.ranking-players::-webkit-scrollbar {
    width: 5px;       
}
  
.ranking-players::-webkit-scrollbar-track {
    background: rgb(199, 199, 199);       
}
  
.ranking-players::-webkit-scrollbar-thumb {
    background-color: rgb(59, 59, 59);   
}


.pokemon-list-team-ul::-webkit-scrollbar {
    width: 5.5px;       
}
  
.pokemon-list-team-ul::-webkit-scrollbar-track {
    background: rgb(199, 199, 199);       
}
  
.pokemon-list-team-ul::-webkit-scrollbar-thumb {
    background-color: rgb(59, 59, 59);   
}


/*---------LOGIN-----------*/

.login-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url("/img/Latias.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y:60%;
}

.login-container-left{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    height: 100%;
    width: 40%;
}

.login-container-left-mini{
    background-color: rgba(255,255,255,0.6);
    height: 50%;
    width: 90%;
    padding: 20px;
    border-radius: 20px;
}


.login-container-right{
    height: 100%;
    width: 60%;
    
}

.login-container-total-up{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container-total-mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
}

.login-container-total-mid div{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container-total-mid input{
    width: 100%;
    margin-bottom: 20px;
}

.login-container-total-down{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
}

/*------------REGISTER------------*/

.register-container-total{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/img/latios.jpg");
    background-size: cover;
    background-position-y: -200px;
}

.register-container-total-right{
    height: 100%;
    width: 50%;
}

.register-container-total-left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;

}

.register-container-total-mini{
    outline-color: transparent;
    color: black;
    background-color: rgba(255, 255, 255, 0.7);
    width: 70%;
    height: 65%;
    padding: 20px;
    border-radius: 20px;
}

.register-container-total-mini input{
    width:45%;
    margin-block: 20px;
}

.register-container-total-mini input::placeholder{
    color: black;
    opacity: 0.6;
}

.register-container-total-up{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container-total-mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
}

.register-container-total-mid div{
    margin-bottom: 20px;
    text-align: center;
}

.register-container-total-down{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
}

/*---------HUB------------*/

.header{
    width: 100%;
    height: 10%;
    border-bottom: solid black 4px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgba(73, 73, 73, 0.5);
}

.header img{
    height: 70%;
    width: 10%;

}

.header-left{
    height: 100%;
    width: 33.333333%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
}

.header-mid{
    height: 100%;
    width: 33.333333%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1rem, 2.5vw, 2rem);
}

.header-mid a{
    text-decoration: none;
    color: rgb(233, 233, 233);
}

.header-mid a:hover{
    text-decoration: none;
    color: rgb(233, 233, 233);
}

.header-mid p{
    margin: 0;
}

.header-right{
    height: 100%;
    width: 33.333333%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 2%;
}

.header-right img{
    height: 40%;
    width: 7%;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}

.hub-container{
    width: 100vw;
    height: 100vh;
    background-image: url("/img/background.jpg");
    background-repeat: no-repeat;
    background-position: 0px -280px;
    background-color: #7fad71;
}

.hub-options-container{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hub-options-container button{
    font-size: 24px;
}

.hub-main-container{
    height: 65%;
    width: 100%;
    display: flex;
}

.hub-main-container-left{
    height: 100%;
    width: 33.33333%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hub-main-container-mid{
    height: 100%;
    width: 33.33333%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hub-main-container-right{
    height: 100%;
    width: 33.33333%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hub-main-container-mid-mini{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    height: 80%;
    font-size: 25px;
    width: 70%;
}

.hub-title{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hub-title p{
    margin: 0;
}

.hub-title img{
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}

.hub-avatar{
    height: 90%;
    width: 100%;
    display: flex;
}

.hub-avatar-left{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hub-avatar-mid{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hub-avatar-right{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hub-avatar-right img{
    height: 20%;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}

.hub-avatar-left img{
    height: 20%;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}

.hub-avatar-mid img{
    height: 75%;
}


.hub-main-container-left-mini{
    background-color: rgba(255,255,255,0.6);
    border: solid rgba(0, 0, 0, 0.9) 4px;
    height: 50%;
    width: 60%;
    color: black;
    border-radius: 6px;
}

.hub-main-container-left-mini-title{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-bottom: solid black 2px;
}

.hub-main-container-left-mini-title p{
    margin: 0;
}

.hub-main-container-pokemon{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.hub-main-container-pokemon-mini{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hub-main-container-pokemon-mini img{
    height: clamp(30%, 7vw, 100%);
}

.hub-main-container-right-mini{
    background-color: rgba(255,255,255,0.6);
    border: solid rgba(0, 0, 0, 0.9) 4px;
    height: 50%;
    width: 60%;
    color: black;
    border-radius: 6px;
}

.hub-main-container-right-mini-title{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-bottom: solid black 2px;
}

.hub-main-container-right-mini-title p{
    margin: 0;
}

.hub-main-container-right-mini-info{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hub-top-5-info{
    display: flex;
    height: 15%;
    width: 100%;
    justify-content: space-around;
    font-size: clamp(10px, 1vw, 100%);
    padding-inline: 10px;
    flex-direction: column;
}

.hub-top-5-info-users {
    margin: 0px;
    text-align: left;
    align-items: center;
}

.hub-top-5-info-elo{
    margin: 0px;
    text-align: right;
    align-items: center;

}

/* .hub-main-container-mid-mini p{
    background-color: white;
    border: solid black 3px;
    padding: 5px;
} */

/*---------RANKING----------*/

.ranking-container{
    height: 100vh;
    width: 100vw;
    background-image: url("/img/wallpaper3.png");
    background-repeat: no-repeat;
    background-position: 0px -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ranking-container-mini-father{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4%;
}
.ranking-container-mini{
    height: 60%;
    width: 45%;
    background-color: rgba(73, 73, 73, 0.5);;
    padding: 10px;
    border: solid black 4px;
    color: rgb(199, 199, 199);
    flex-direction: column;  
}

.ranking-container-random{
    height: 60%;
    width: 45%;
    background-color: rgba(73, 73, 73, 0.5);;
    padding: 10px;
    border: solid black 4px;
    color: rgb(199, 199, 199);
    display: none;
    flex-direction: column;
}

.ranking-title{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ranking-title-random{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ranking-players{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: bottom;
    overflow-y:auto;
}

.ranking-players-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-block: 4px;
    padding-inline: 60px;
}


.ranking-players-info img {
    width: 2.5vh;
    height: 5vh;
}

/*---------GAME-----------*/

.game-container-total{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.game-container-left{
    height: 100vh;
    width: 70vw;
}

.game-small-container-up{
    display: flex;
    height: 74%;
    width: 100%;
    background-image: url("/img/fondo2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -40px ;
}

.game-left-container{
    border-right: solid black 4px;
    width: 15%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
}

.game-mid-container{
    width: 70%;
    height: 100%;
    
}

.game-mid-container-top{
    display: flex;
    height: 50%;
    width: 100%;
}

.game-mid-container-top-left{
    height: 120%;
    width: 60%;
    display: flex;
    padding-left: 5%;
    padding-top: 5%;
}

.game-mid-container-top-left-turns{
    height: 10%;
    width: 35%;
    background-color: white;
    border: solid black 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-mid-container-top-left-turns p{
    margin: 0;
}

.game-mid-container-top-right{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    padding-top: 20px;
    padding-left: 3 0px;
}

.game-mid-container-top-right-container{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction:column; 
    width: 30%; 
    height:60%;
    transition: 0.3s;
}

.game-mid-container-top-right-container-mini{
    display: flex; 
    flex-direction:column;
}

.game-mid-container-top-right-container-mini p{
    margin: 0;
}

.game-pokemon-battle-stats{
    display: flex;
}

.game-pokemon-battle-stats progress{
    display: flex;
    justify-content: flex-end;
    width: 250px; 
    height:20px; 
    margin-right:10px;
}

.game-mid-container-bottom{
    display: flex;
    height: 50%;
    width: 100%;
}

.game-mid-container-bottom-left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.game-mid-container-bottom-right{
    height: 100%;
    width: 50%;
}

.game-right-container{
    border-left: solid black 4px;
    border-right: solid black 4px;
    text-align: center;
    width: 15%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
}

.game-troll-container{
    width: 100%;
    height: 60%;
}

.game-not-troll-container{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.game-small-container-down{
    height: 26%;
    display: flex;
}

.game-pick-pokemon{
    height: 100%;
    width: 100%;
    background-color: grey;
    border-top: solid black 4px;
    border-right: solid black 4px;
    color: black;
    display: none;
}

.game-wait{
    height: 100%;
    width: 100%;
    background-color: grey;
    border-top: solid black 4px;
    border-right: solid black 4px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.game-finished-win{
    height: 100%;
    width: 100%;
    background-color: grey;
    border-top: solid black 4px;
    border-right: solid black 4px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.game-finished-win div{
    display:flex; 
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.game-finished-lost{
    height: 100%;
    width: 100%;
    background-color: grey;
    border-top: solid black 4px;
    border-right: solid black 4px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.game-small-container-down-attacks{
    border-top: solid black 4px;
    border-right: solid black 4px;
    width: 66.66666%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-small-container-down-attacks-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 50%;
    background-color: grey;
}
.game-small-container-down-attacks-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 50%;
    background-color: grey;
}

.game-attacks-line{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-attacks{
    border: solid black 3px;
    padding: 10px;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
    display: inline-block;
	width: 80%;
	height: 65%;
	position: relative;
    background-color: rgb(214, 214, 214);
    color: black;
}

.game-attacks:hover{
    opacity: 0.7;
}

.game-attacks-name{
    position: absolute;
	top: 50%;
	left: 50%;
    transform: translateX(-50%) translateY(-45%);
}


.game-attacks-stats{
    display: flex;
    height: auto;
    width: 85%;
    justify-content: space-between;
    position: absolute;
	top: 50%;
	left: 50%;
    transform: translateX(-50%) translateY(35%);
}

.game-attacks-stats p{
    font-size: 10px;
}


.game-small-container-down-switchs{
    border-top: solid black 4px;
    border-right: solid black 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33.333333%;
    height: 100%;
    background-color: grey;
}

.game-small-container-down-switchs-minis{
    height: 50%; 
    width:100%; 
    display: flex; 
    justify-content: space-around; 
    align-items: center;
}

.game-pokemon-stats-container{
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer; 
    height: 100%; 
    width: 20%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
}

.game-pokemon-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40%;
    width: 30%;
}

.game-pokemon-image img{
    height: 100%;
}

.game-container-right{
    background-color: grey;
    height: 100vh;
    width: 30vw;
}

.game-chat-container-up{
    height: 7%;
    width: 100%;
    background-color: grey;
    border-bottom: solid black 4px;
    display: flex;
    padding-inline: 20px;
    justify-content: space-between;
    align-items: center;
}

.game-chat-container-up > *{
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}

.timer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.timer{
    margin: 0;
    color: black;
    padding: 5px;
    background-color: white;
    border: solid black 3px;
    margin-right: 15px;
}

.game-chat-container-mid{
    overflow-y: auto;
    height: 83%;
    width: 100%;
    background-color: grey;
}

.game-chat-container-down{
    height: 10%;
    width: 100%;
    border-top: solid black 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-chat-container-down input{
    width: 400px;
    height: 45px;
}

progress{
    appearance: none;
    -webkit-appearance: none;
}

progress::-webkit-progress-bar {
    background-color: rgb(163, 163, 163);
}
  
progress::-webkit-progress-value {
    background-color: #f8316d;
}

.game-chat-container-turn{
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
    font-size: 20px;
    background-color: rgb(197, 197, 197);
    color: black;
}

.game-chat-container-turn p{
    margin: 0;
}

.game-container-msg{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 20px;
    font-size: 15px;
    padding: 10px;
    color: black;
}

.game-container-msg p{
    margin: 0;
}

.game-container-msg-game{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 20px;
    font-size: 15px;
    padding: 10px;
    font-weight: 1000;
    color: black;
}



/* ---PROFILE---- */

.profile-container{
    height: 100vh;
    width: 100vw;
    background-image: url("/img/wallpaperaternoon.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 10%;
}

.profile-container-mini{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container-mini #profile-container{
    height: 70%;
    width: 60%;
    background-color: rgba(73, 73, 73, 0.3);
    color: black;
    display: block;
}

.profile-title{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2.5%;
    font-size: 24px;
}

.profile-title-mini{
    display: flex;
    align-items: center;
}

.profile-title-mini img{
    height: 35px;
    margin-left: 20px;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}


.profile-title p{
    border-block: solid black 3px;
    margin: 0;
}

.profile-info{
    display: flex;
    height: 85%;
    width: 100%;
}

.profile-arrow-left{
    width: 8%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-arrow-right{
    width: 8%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-arrow-left img{
    height: 10%;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}

.profile-arrow-right img{
    height: 10%;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}


.profile-inputs{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-inputs input{
    width: 50%;
    text-align: right;
}

.profile-inputs-mini{
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-inline: 20px;
}

.profile-inputs-mini p{
    margin: 0;
    font-size: 19px;
}

.profile-avatar{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.profile-avatar-container{
    height: 70%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 4px;
}

.profile-avatar-container img{
    height: 80%;
}


.profile-stats{
    height: 85%;
    width: 100%;
    display: flex;
    display: none;
}

.profile-games-mode{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-games-mode-container{
    border: solid black 4px;
    height: 80%;
    width: 80%;
}

.profile-games-mode-title{
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: solid black 3px;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.profile-games-mode-title p{
    margin: 0;
}

.profile-games-mode-info{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profile-games-mode-info-mini{
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: space-between;
}

.profile-games-mode-info-mini p{
    margin: 0;
}

.teams-title{
    height: 5vh;
}

.teams-main{
    width: 100vw;
    height: 100vh;
    background-image: url("/img/background.jpg");
    background-repeat: no-repeat;
    background-position: 0px -280px;
    background-color: #7fad71;

}

.menu-horizontal{
    padding-left:0px;
    list-style: none;
}

.menu-horizontal li a img{
    height: 6vw;
    max-height: 50px;
    min-height: 5px;
    margin-top:  60%;
    width: 6.5vh;
    max-width: 52px;
    min-width: 20px;
    margin-bottom: 25%;
    cursor: pointer;
}

.menu-vertical{
    padding-left: 0;
    position: absolute;
    display: none;
    list-style: none;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    border-radius: 10px;
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical li:hover{
    background-color: rgb(44, 44, 44);
    border-radius: 7px;
}

.menu-vertical li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}

.play-options-container{
    display: flex;
    width: 100%;
    text-align: center;
}

.play-options-button-random{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    flex-direction: column;
    margin-top: 12%;
}

.play-img-roster{
    width: 30vh;
    height: 40vh;
    -webkit-user-drag: none;
}

.play-img-random{
    width: 38vh;
    height: 40vh;
    -webkit-user-drag: none;
}

.play-options-button-roster{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 12%;
}

/*TEAM ARMAR*/

.search-bar-info {
    margin-top: 10vh;
    margin-bottom: 2.5vh;
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    padding-inline: 20px;
}

.pokemon-list-team{
    border-radius: 5px;
    flex-direction: column;
    display:flex;
    padding:8px;
    width: 30%;
    margin-left: 11px;
}

.pokemon-list-team-ul{
    display: block;
    overflow-y: scroll;
    height: 65vh;
    width: 100%;
    background-color: rgba(148, 143, 143, 0.5);
    border: solid black 4px;
}

.pokemon-list-team-ul li{
    display: flex;
    margin-bottom: 20px;
    margin-top: 4px;
    border-bottom: solid black 2px;
}

.pokemon-list-team-li-img{
    width: 15%;
    height: 25%;
    max-width: 15%;
    max-height: 25%;
    min-height: 9%;
    min-width: 5%;
}

.pokemon-list-team-li-p{
    justify-content: center;
    margin-left: 15px;
    margin-top: 18px;
}

.teams-right-container-mini{
    align-items: right;
    width: 150vh;
    height: 66vh;
    background-color: aqua;
    margin-right: 9px;
    display:flex;
    flex-wrap: wrap;
}

.teams-mega-container{
    display: flex;
    justify-content: space-between;
}

.teams-right-container-mini-top{
    background-color: blue;
    width: 33.3%;
    height: 50%;


}

.teams-right-container-mini-bottom{
    background-color: #f8316d;
    width: 33.3%;
    height: 50%;
}

